:root {
    --primary-color: rgb(4, 251, 251);
    --second-color: rgb(241, 245, 247); 
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: monospace;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/endless-constellation.svg);
    background-size: cover;
    background-position: center center;
}

.container {
    color: var(--second-color);
    box-sizing: border-box;
    max-width: 90rem;
    margin: 5vh auto;
    padding: 3rem;
}

.title {
    font-family: monospace;
    font-size: 4rem;
    color: var(--primary-color);
    text-align: center;
}

.introduction {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 2rem 0;
}

.description strong{
    color: var(--primary-color);
}

.links {
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
}

.links img {
    height: 5rem;
    margin: 0rem 1rem;
}

.projects {
    margin: 5vh 0vh;
    text-align: center;
    font-size: 2.8rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.grid a {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.grid h2{
    background-color: var(--second-color);
    font-size: 1.5rem;
}

.grid img {
    height: 90%;
    width: 100%;
    margin: auto;
}

.container-project {
    background-color: var(--second-color);
    color: rgb(5, 4, 4);
    text-align: center;
    border-radius: 6%;
    overflow: hidden;
}

.container-project:hover {
    border: 0.2rem solid var(--second-color);
}

.container-img {
    height: 90%;
    width: 100%;
    margin: auto;
}

.description-project {
    margin-top: -10%;
    padding: 0.5rem 0rem;
}

.description-project h3 {
    font-size: 2rem;
}

@media (width <= 450px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .introduction {
        padding: 0rem 5rem;
    }
    }